.test {
  border-radius: 50%;
  background: #171717;
  box-shadow:  10px 10px 20px #111111,
              -10px -10px 20px #1d1d1d;
}

.abs-center {
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

.icon {
  border-radius: 50%;
  background: #171717;
  box-shadow:  2px 2px 4px #111111,
              -2px -2px 4px #1d1d1d;
}